<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>top</title>
</head>

<body>
  <p>下にコメントを送信すると送信した内容が表示されます</p>
  <p>消したいコメントをクリックすると削除することができます</p>
  <ul class="user-list">
    <% for (const user of users) { %>
      <li class="user-name"><%= user %></li>
    <% } %>
  </ul>
  <input type="text" class="input-text" />
  <button class="send-button">送信</button>
  <br>
  <button class="delete-button">削除</button>
  <script src="/static/index.js" defer></script>
</body>

</html>
